<div class="card" style="width: 18rem;">
  <img src="https://placeimg.com/640/480/arch">
  <!--<a href="{{destino.url}}"><img src="{{destino.url}}"></a>-->
  <div class="card-body">
    <h5>{{destino.nombre}}</h5>
    <a href="{{destino.url}}" class="image">Visualiza la imagen del país</a>
  </div>
</div>
<!--<div class="card-content">
  <div class="card-img">
    <img	src="https://placeimg.com/380/230/nature"	alt="">
  </div>
  <div	class="card-desc">
    <h3>{{destino.nombre}}</h3>
  </div>
</div>-->